body{
    background-color:bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
     }
     h2 {
      
      font-weight: 600px;
      font-style: Bold;
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
      color:blue;
    }
     