
body{
      background-color: rgb(187, 220, 241);
      font-size: 30px;
    }
      h1  {
        font-style: italic;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(33, 131, 223);
        font-size: xx-large;
        font-weight: bold;
        
      }
           
    @media screen and (max-width: 500px) {
      .column {
        width: 100%;
      }
    }