 body{

    background-color: aqua;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: Maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


