 body{

background-color: rosybrown;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 300px;
 }

h1 {
    font-size: 100;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: seashell;

}

